.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/background.jpg");
}

.search{
  display: block;
  /*background-color: red;*/
  margin-top: 50px;
}

.card{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}